<h1>Home Page</h1>
@switch (componentView) {
    @case ("movies") {
        <app-movies></app-movies>
    }

    @case ("music") {
        <app-music></app-music>
    }

    @default {
        <h3>Valor incorrecto</h3>
    }
}

<div [contentEditable]="true"> Hola soy un div</div>
<h3 (mouseleave)="onMouseOff()" (mouseover)="onMouseOver()">Pon el mouse encima mio para ver el mensaje oculto</h3>
<p>{{message}}</p>


@for (item of listLetras; track $index) {
    <li><a [routerLink]="['user/', $index + 1]">elemento {{$index + 1}}</a></li>
}

<p-button label="Submit"></p-button>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card>

<p-menubar [model]="items"></p-menubar>

